.ping {
  animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.hover-animate-ping:hover {
  animation: ping-hover 1s cubic-bezier(0, 0, 0.2, 1);
}
@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes ping-hover {
  0% {
    transform: scale(1);
    opacity: 0;
    border-width: 0;
  }
  10% {
    transform: scale(1);
    opacity: 1;
    border-width: 1px;
  }
  75%,
  100% {
    transform: scale(1.4);
    opacity: 0;
    border-width: 0;
  }
}

.pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.bounce {
  animation: bounce 20s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}
.spin {
  animation: spin 60s linear infinite;
}
.spin-anticlock {
  animation: spin-anticlock 40s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-anticlock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* scrolling animations */
.fade-right {
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}
.fade-right.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}
