@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

@keyframes filterHue2 {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg);
  }
}

@keyframes filterHue {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg) rotate(360deg);
  }
}

@keyframes scaleUp {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.25);
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto Slab", serif;
  color: #000;
  margin: 0;
  padding: 0;
}

.heading {
  background: white;
  height: 5%;
  margin: 10px;
  padding: 10px;
  font-size: 43px;
  font-family: cursive;
  text-decoration: underline;
}

.swiper-container {
  width: 100%;
  height: 90%;
}
.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-general {
  padding: 75px 0;
  margin: 0 auto;
  min-width: 100%;

  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;

    .item {
      flex: 1;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: none;
      transition: all 0.8s ease;
      &:hover {
        flex: 7;
      }
    }
  }
}

.wrap-effect-1 {
  .item {
    &:first-of-type {
      background-image: url("../images/1.png");
      background-position: left;
    }
    &:nth-of-type(2) {
      background-position: left;

      background-image: url("https://cdn.dribbble.com/users/729829/screenshots/6146136/galshir-tea-biscuit_2x.png");
    }
    &:nth-of-type(3) {
      background-position: left;

      background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4473482/galshir-dog-walker.gif");
    }
    &:nth-of-type(4) {
      background-position: left;

      background-image: url("https://cdn.dribbble.com/users/729829/screenshots/5743606/gal-shir-scooter_2x.png");
    }
    &:last-of-type {
      background-position: left;
      background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4738104/galshir-storytime.png");
    }
  }
}

.inspire {
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  &:after {
    /* background: #38ef7d; */
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  &:hover {
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

p {
  color: #fff;
  background: #000;
  mix-blend-mode: lighten;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100px;
  animation: filterHue2 2s linear infinite;
}

p::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e23b4a; /* fallback */
  background: linear-gradient(
    to right,
    #23966c,
    #faaa54,
    #e23b4a,
    #db0768,
    #360670
  );
  pointer-events: none;
  mix-blend-mode: multiply;
}

.loader-container {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: scaleUp 0.5s linear;
  transform: scale(0);
  opacity: 0;
}

.loader {
  background: #ff0c0c;
  background: linear-gradient(50deg, #ff0c0c, #21d400);
  border-radius: 10px;
  filter: hue-rotate(0deg);
  animation: filterHue 2.5s linear infinite;
  height: 100%;
  width: 100%;
  transform: rotate(0deg);
}

.loader::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  left: 10px;
  top: 10px;
  border-radius: 100%;
}

/* Add any other media queries or browser-specific styles as needed */

/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
.hovericon:hover {
  color: #125eed;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #3e3947;
  background-color: white;
}
.header-bg {
  background-image: url(../images/SVG/Main/Mobile.svg);
  background-position: top;
}
.header-text {
  margin-top: 15rem !important;
}

body,
html {
  height: 100%;
}

a {
  color: #3e3947;
  text-decoration: none;
}

img {
  max-width: 100%;
}
.current {
  color: #0043ca;
  background-color: transparent !important;
}
.navlink:hover {
  color: #0043ca;
}
/* #others {
  left: -100%;
} */
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-section {
  position: relative;
  margin-bottom: 4rem;
}

.cd-section h1,
.cd-section p {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 768px;
  text-align: center;
}
.cd-section h1 {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-section p {
  line-height: 1.6;
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}

.footer-bg {
  z-index: 999;
}
.footerbg {
  opacity: 0.33;
  z-index: -10;
  transform: rotate(10deg);
  width: 150%;
  border-top-left-radius: 200px;
  border-top-right-radius: 400px;
  transform-origin: 0 0;
  background: linear-gradient(0deg, #fff 50%, #e4e4e4 75%, #d4d4d4);
}
.footer-bg {
  position: absolute;
  top: 0;
  background-color: #3e3947;
  z-index: 100;
  left: 200%;
  height: 500;
  width: 1570px;
  align-self: left;
  content: "";
  opacity: 0.33;
  transform: rotate(-180deg);
  border-top-left-radius: 115px;
  border-top-right-radius: 500px;
  transform: translateX(-50%) rotate(13deg) translate(115px, -45px);
  transform-origin: 0 0;
  /* background: linear-gradient(0deg, #fff 50%, #e4e4e4 75%, #d4d4d4); */
}

/* @media (max-width: 47.99em) {
  .footer-bg {
    top: 10px;
    left: 3%;
   
  }
} */
.text {
  font-weight: 700;
  font-size: xx-small;
}
.check input:invalid {
  border-color: red;
}

/* FLOATING LABEL */
.label-floating input:not(:placeholder-shown),
.label-floating textarea:not(:placeholder-shown) {
  padding-top: 1.4rem;
}
.label-floating input:not(:placeholder-shown) ~ label,
.label-floating textarea:not(:placeholder-shown) ~ label {
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
  color: #0043ca;
  opacity: 1;
}

@media only screen and (min-width: 330px) {
  .header-bg {
    background-image: url(../images/SVG/Main/Mobile.svg);
    background-position: top;
  }

  .footerbg {
    width: 150%;
  }
  .header-text {
    margin-top: 18rem !important;
  }
}

@media only screen and (min-width: 500px) {
  .header-bg {
    background-image: url(../images/SVG/Main/Lap.svg);
  }
  .footerbg {
    width: 140%;
  }
  .header-text {
    margin-top: 8rem !important;
  }
  .text {
    font-size: x-small;
  }
}
@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger,
  .touch #cd-vertical-nav {
    bottom: 40px;
  }
  .footerbg {
    width: 120%;
  }
  .header-text {
    margin-top: 8rem !important;
  }
  .cd-section {
    margin-bottom: 1rem;
  }
  .text {
    font-size: small;
  }

  .cd-section h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-section p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
  }
}

@media only screen and (min-width: 1024px) {
  /* .header-text {
    margin-top: 8rem !important;
  } */
  .text {
    font-size: medium;
  }

  .footerbg {
    width: 110%;
  }
  .header-bg {
    background-position: 40% 40%;
    min-height: 100vh;
  }
}
